<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta content="True" name="HandheldFriendly">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta name="keywords" content="HTML,CSS,JavaScript,SASS,
      React developer,React engineer,Software engineer,Software developer,
      Frontend engineer,Front-end engineer,Frontend developer,Front-end developer,
      Remote front-end engineer,Remote frontend engineer,Remote front-end developer,Remote frontend developer,
      UX designer,UX/UI designer,UX engineer,UX/UI engineer,UX developer,UX/UI developer">
    <meta name="description" content="Front-end engineer and UX designer capable of creating rewarding and engaging User Experiences for your apps and websites using the latest technologies.">
    <link rel="stylesheet" href="https://use.typekit.net/ueh8cxf.css">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
