<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta content="True" name="HandheldFriendly">
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
